h1{
    padding: 5px;
    border-radius: 10px;
    border: 2px solid ;
    color: rgb(235, 241, 243);}
    h1:hover{
        background-color: rgb(6, 11, 111);
        border: 2px solid;

    }
img{width: 80px;
    /* width: 300%; */}
    body{background-color: rgb(44, 119, 135);}
h2{color: blue;}
p{color: rgb(17, 16, 18);}
ul{color: blue;}
